@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.dark {
    background-color: #1f2937;
}
.grey {
    background-color: #e5e7eb;
}
.section {
    width: 100%;
    padding: 20px 0;
}
.container {
    padding: 0 10%;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header-links {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
.header-link, .hero-text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    transition: color 0.3s ease;
}
.header-link:hover{
    color: #9c9da1;
}
.hero {
    padding: 96px 10%;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.hero-right {
    width: 50%;
    display: flex;
    justify-content: stretch;
}
.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
button {
    background-color: #2882f6;
    color: #f9faf8;
    font-weight: 500;
    border-radius: 8px;
    border-color: #2882f6;
}
.hero-img {
    width: 100%;
    height: 100%;
}
.cta-btn {
    border-color: #f9faf8;
}
.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0;
}
.info-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
    gap: 20px;
}
.info-card {
    font-size: 18px;
    color: #1f2937;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    max-width: 400px;
    flex: 1;
    text-align: center;
}
.info-img {
    max-width: 100%;
    height: auto;
    border-width: 4px;
    border-radius: 12px;
    border-style: solid;
    border-color: #2882f6;
    transition: transform 0.3s ease;
}
.info-img:hover {
    transform: translateY(-10px) scale(1.05);
}
.quote {
    margin: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}
.quote-author {
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
    text-align: right;
}
.cta {
    background-color: #2882f6;
    color: #f9faf8;
    font-size: 18px;
    margin: 92px;
    padding: 36px 64px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.cta-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-title{
    font-size: 24px;
    font-weight: bold;
}
.footer-text {
    font-size: 18px;
    color: #e5e7eb;
}